body {
  font: 14px Helvetica, sans-serif;
  color: #444;
}

.zebra tr:nth-child(even) {
  background-color: #eee;
}

td {
  padding: 8px;
}

table {
  border-spacing: 0;
}

.results table {
  width: 100%;
}

.results td.handle {
  color: #666;
}

.hidden {
  display: none;
}

.result {
  padding: 8px;
  box-sizing: border-box;
  display: inline-block;
}

.results-1 { width: 100%; }
.results-2 { width: 49%; }
.results-3 { width: 32%; }
.results-4 { width: 24%; }
